#homepageLogo {
    cursor: pointer;
    margin: 0;
    position: absolute;
    height: 50em;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#homepageTitle {
    opacity: 90%;
    top: 80%;
    position: absolute;
}

.gradient-background {
    background: linear-gradient(to right, #006195, #52C8FA);
}

.full-page {
    height: 100vh;
}
.rounded-border {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 70px;
}

#loginLogo {
    width: 90% ;
}

.center-row {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

.logo-font {
    font-family: 'Montserrat', sans-serif;
}

.color-primary {
    color: #52C8FA !important;
}

.hover-secondary:hover {
    color: #006195 !important
}